<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<title>Project 2</title>
	
	{{!-- Jquery --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../assets/js/passplay.js"></script>

	{{!-- Moment --}}
	<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
		
	{{!-- Styling: CSS / Bootstrap / Google Fonts--}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Titan+One" rel="stylesheet">

	</head>
	<body>
		<header>
			<h1>FOOTBALLER</h1>
			<div class="header-shade"></div>
			<div class="header-shadow"></div>
		</header>
			{{{ body }}}

		{{!--JS file  --}}
		<script src="/assets/js/nongame.js"></script>
	</body>
</html>
