
<main class="non-game-main">
    <div class="subheader-div">
        <h2 class="subheader">ABOUT</h2>
    </div>
    <div class="menu-button" id="menu-instructions">
        <h2>INSTRUCTIONS</h2>
    </div>
    <div id="instructions" style="display:none">
        <p id="instruction">Play as the vikings and run or pass your way to victory. Choose an NFL team to play against. The game uses real NFL team offense and defense stats paired with probability functions to determine the outcome of the play. Score big and you reach legendary status by making it on the leaderboard.</p>
    </div>
    <br>
    <br>
    <div class="menu-button" id="menu-github">
        <h2><a href="https://github.com/madisonkoch/Project2">GITHUB</a></h2>
    </div>
    <br>
    <br>
    <div class="menu-button" id="menu-developers">
        <h2>DEVELOPERS</h2>
    </div>
    <div id="developers" style="display:none">
        <h3 class="developer">Abdisa Tuffa</h3>
        <h3 class="developer">Cavan Wagg</h3>
        <h3 class="developer">Madison Koch</h3>
        <h3 class="developer">Robert Queeney</h3>
    </div>
    {{!-- back to main menu button --}}
    <div id="controls">
        <button class="control-button">
            <div id="back-div">
                <i class="arrow left"></i>
                <ul><a href="/">MENU</a></ul>  
            </div>
        </button>
    </div>
</main>