<div id="scoreboard">
    <div class="stat">
        <ul>DOWN</ul>
        <div class="unit-div">
            <h1 id="down">1</h1>
            <ul class="unit">ST</ul>
        </div>
    </div>
    <div class="stat">
        <ul>TO GO</ul>
        <div class="unit-div">
            <h1 id="togo">10</h1>
            <ul class="unit">YRDS</ul>
        </div>
    </div>
    <div class="stat">
        <ul>SCORE</ul>
        <div class="unit-div">
            <h1 id="points">00</h1>
            <ul class="unit">PTS</ul>
        </div>
    </div>
</div>
<div class="subheader-div">
    <div class="timer-div">
        <h2 class="subheader timer">TIME LEFT</h2>
        <h2 class="subheader" id="timer">15:00</h2>
    </div>
</div>

<div id="lineup-div">
    <img id="lineup" src="/assets/images/lineup.png" alt="lineup">
</div>
<div id="controls">
    <button id="run-btn" class="control-button">
        <h2 class="control-label">RUN</h2>
    </button>
        <button id="pass-btn" class="control-button">
        <h2 class="control-label">PASS</h2>
    </button>
</div>