<div id="scoreboard">
    <div class="stat">
        <ul>DOWN</ul>
        <div class="unit-div">
            <h1 id="down">3</h1>
            <ul class="unit">RD</ul>
        </div>
    </div>
    <div class="stat">
        <ul>TO GO</ul>
        <div class="unit-div">
            <h1 id="togo">7</h1>
            <ul class="unit">YRDS</ul>
        </div>
    </div>
    <div class="stat">
        <ul>SCORE</ul>
        <div class="unit-div">
            <h1 id="points">28</h1>
            <ul class="unit">PTS</ul>
        </div>
    </div>
</div>