<div id="scoreboard">
    <div class="stat">
        <ul>DOWN</ul>
        <div class="unit-div">
            <h1 id="down">1</h1>
            <ul class="unit">ST</ul>
        </div>
    </div>
    <div class="stat">
        <ul>TO GO</ul>
        <div class="unit-div">
            <h1 id="togo">10</h1>
            <ul class="unit">YRDS</ul>
        </div>
    </div>
    <div class="stat">
        <ul>SCORE</ul>
        <div class="unit-div">
            <h1 id="points">00</h1>
            <ul class="unit">PTS</ul>
        </div>
    </div>
</div>