<main>
{{!-- Image of ball & players --}}
    <div id="lineup-div">
        <img id="lineup" src="/assets/images/Lineup.png" alt="lineup">
    </div>
{{!-- Scoreboard -- covers header with app name --}}
	<div id="game-header">
        <div id="scoreboard">
            <div class="stat">
                <ul>DOWN</ul>
                <div class="unit-div">
                    <h1 id="down">1</h1>
                    <ul class="unit" id="down-unit">ST</ul>
                </div>
            </div>
            <div class="stat">
                <ul>TO GO</ul>
                <div class="unit-div">
                    <h1 id="togo">10</h1>
                    <ul class="unit">YRDS</ul>
                </div>
            </div>
            <div class="stat">
                <ul>SCORE</ul>
                <div class="unit-div">
                    <h1 id="points">00</h1>
                    <ul class="unit">PTS</ul>
                </div>
            </div>
        </div>
        {{!-- <div class="subheader-div">
            <div class="timer-div">
                <h2 class="subheader timer">TIME LEFT</h2>
                <h2 class="subheader" id="timer">15:00</h2>
            </div>
        </div> --}}
        <div class="header-shade" id="game-header-shade">
            <div class="timer-div">
                <h2 class="subheader timer">TIME LEFT</h2>
                <h2 class="subheader" id="timer">15:00</h2>
            </div>
        </div>

    </div>

{{!-- In-Game Pop-ups / Modals --}}
    <h1 id="in-game-message"></h1>
    <h2 id="in-game-yardage"></h2>

{{!-- Game play option "buttons" / Run or Pass --}}
    <div id="controls">
        <button id="run-btn" class="control-button">
            <h2 class="control-label">RUN</h2>
        </button>
        <button id="pass-btn" class="control-button">
            <h2 class="control-label">PASS</h2>
        </button>
    </div>
{{!-- MODALS --}}
    {{!-- Pre-Game Option(s) Modal -- choose opponent --}}
    <div class="modal" id="pre-game-modal">
        <div id="pre-game-modal-content">
            <p>Who do you want to play?</p>
            <select id="dropdown"  onmousedown="if(this.options.length>6){this.size=6;}"  onchange='this.size=0;' onblur="this.size=0;">
                {{#each teams}}
                    <option value="[{{team_name}},{{D_rush_YPA}},{{D_pass_YPR}}]" >{{team_name}}</option>;
                {{/each}}
            </select>
            <button id="close-btn" onclick="document.getElementById('pre-game-modal').style.display='none'" class="control-button">
                <h2 class="control-label">PLAY!</h2>
            </button>
        </div>
    </div>
    {{!-- Post-Game Modal --}}
    <div class="modal" id="post-game-modal" style="visibility:hidden">
        <div id="post-game-modal-content">
            <div id="end-stats">
                <div class="end-stat">
                    <div class="end-unit-div">
                        <h1 id="endPoints">00</h1>
                        <ul class="unit">POINTS</ul>
                    </div>
                </div>
                <div class="end-stat">
                    <div class="end-unit-div">
                        <h1 id="endYards">10</h1>
                        <ul class="unit">YARDS</ul>
                    </div>
                </div>
            </div>
            <p>Enter a username to see if you made the leaderboard!</p>
            <form>
                <div class="form-group">
                    <input type="text" id="nameInput" name="name" placeholder="Username">
                </div> 
                <button id="sub-btn" type="submit"  class="control-button">
                    <h2 class="control-label">SUBMIT</h2>
                </button>
            </form>
        </div>
    </div>


</main>