<header>
    <h1>APP NAME</h1>
    <div id="header-shade"></div>
</header>

<main>
    <div class="menu-item" id="menu-game">
        <h2>LET'S PLAY!</h2>
    </div>
    <br>
    <br>
    <div class="menu-item" id="menu-rank">
        <h2>LEADERBOARD</h2>
    </div>
    <br>
    <br>
    <div class="menu-item" id="menu-about">
        <h2>ABOUT</h2>
    </div>
</main>