<div class="subheader-div">
    <h2 class="subheader">ABOUT</h2>
</div>
<main>
    <div class="menu-button" id="menu-game">
        <h2>GITHUB</h2>
    </div>
    <br>
    <br>
    <div class="menu-item" id="menu-developers">
        <h2>DEVELOPERS</h2>
    </div>
        <h3>Abdisa Tuffa</h3>
        <h3>Cavan Wagg</h3>
        <h3>Madison Koch</h3>
        <h3>Robert Queeney</h3>
        <h3>Solomon Buzoya</h3>
    
</main>