<main class="non-game-main">
    <div class="header-spacer"></div>
    <div class="menu-button" id="menu-game">
        <h2><a href="/game">LET'S PLAY!</a></h2>
    </div>
    <br>
    <br>
    <div class="menu-button" id="menu-rank">
        <h2><a href="/leaderboard">LEADERBOARD</a></h2>
    </div>
    <br>
    <br>
    <div class="menu-button" id="menu-about">
        <h2><a href="/about">ABOUT</a></h2>
    </div>
</main>


