<div class="subheader-div">
    <h2 class="subheader">LEADERBOARD</h2>
</div>
<main>
    <div class="top-five">
        <ul id="1-rank" class="top-five-rank">1.</ul>
        <ul id="1-name" class="top-five-name"> ABC</ul>
        <ul id="1-points" class="top-five-points">11 PTS</ul>
    </div>
</main>